/**
 * Custom theme for a e-monsite presentation
 *
 * Author Florent Dumoulin
 */

 // Les commentaires uni-ligne ne sont pas visibles une fois le fichier compilé

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Electrolize);


// Override theme settings (see ../template/settings.scss)
$mainColor: #CCC;
$baseColor00: #000;
$baseColor01: #FFF;
$baseColor02: #FF8800;
$baseColor03: #5CB85C;

$backgroundColor: $baseColor00;

$mainFont: 'Electrolize', sans-serif;

$linkColor: $baseColor02;
$linkColorHover: darken( $linkColor, 15% );

$headingFont: 'Orbitron', sans-serif;
$headingColor: $baseColor01;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;

$selectionBackgroundColor: $linkColor;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/*********************************************
 * CUSTOM CSS
 *********************************************/
.reveal{

    // General
    h2, h3, h4, h5, h6{
        color: $linkColorHover;
    }
    strong, b{
        color: darken( $mainColor, 35% );
    }
    .color-secondary{
        color: $baseColor02;
    }
    ul, ol{
        display: block;
    }
    ul{
        list-style-type: square;
    }
    ol{
        margin: 0 0 0 1.5em;
    }

    // Fragments
    span[class*='fragment']{
        display: inline-block; // Pour pouvoir utilisé les effets dans un span sur une mm ligne
    }
    p[class*='fragment']{
        span.grow{
            strong, b{
                color: $mainColor;
                text-transform: uppercase;
            }
        }
    }

}